<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Марс</title>
</head>
<body>
<div th:include="fragments/fragments.html::#menu"></div>
<h1 class="center">Марс</h1>
<div>
    <p class="tx-center">
        Марс е четвъртата планета от Слънчевата система. Тя носи името на римския бог на войната,
        чийто щит и копие образуват символа на планетата (♂). Причината е особеният ѝ цвят, заради
        който е наричана още „червената планета“.Марс има два естествени спътника: Фобос и Деймос
        (в превод от гръцки: „страх“ и „ужас“). Те са малки и имат неправилна форма. Вероятно са
        бивши астероиди, уловени от гравитационното поле на планетата и останали в орбита около нея.
    </p>
    <figure>
        <img src="../../images/mars.jpg" th:src="@{/images/mars.jpg}" alt="mars" class="image">
        <figcaption class="center">Марс</figcaption>
    </figure>
    <div>
        <h2 class="btn">Физически характеристики</h2>
        <p class="tx-center">Диаметърът на Марс е почти двойно по-малък от земния. Той е по-малко
            плътен от Земята, притежава едва 15% от нейния обем и само около 11% от нейната маса.
            Повърхността на Марс е почти толкова голяма, колкото общата площ на земните континенти,
            а масата му е 10 пъти по-малка от земната. Марс е по-голям и по-масивен от Меркурий,
            обаче Меркурий е по-плътен. В резултат на това двете планети имат почти еднакво
            гравитационно привличане на повърхността си – разликата е по-малко от 1% в полза на Марс.
        </p>
    </div>
    <div>
        <h2 class="btn">Атмосфера</h2>
        <p class="tx-center">Атмосферата на Марс е изключително рядка: повърхностното ѝ налягане е едва
            750 Pa (0,75%, тоест 133 пъти по-малко от атмосферното налягане на Земята, измерено на
            морското равнище). Марсианската атмосфера се състои от 95% въглероден диоксид, 3% азот,
            1,6% аргон и следи от кислород и вода. През 2003 г. по време на наблюдения от Земята е
            открит и метан. Откритието е потвърдено през март 2004 г. от апарата „Марс експрес“.
        </p>
    </div>
    <div>
        <h2 class="btn">Геология</h2>
        <p class="tx-center"> Наблюдения на магнитното поле на Марс, извършени от апарата Марс глобъл сървейър,
            сочат, че част от кората на планетата е магнетизирана на ивици с променлива полярност, широки
            около 150 km и дълги около 1000 km по начин, подобен на земните океански дъна. Според теория,
            публикувана през 1999 г., тези ивици показват наличието на активна геология в миналото на Марс.
            Ако тя е правилна, това би направило възможно съществуването на атмосфера от земен тип чрез
            осъществяване на въглеродния кръговрат и би потвърдило наличието на силно магнитно поле,
            защитаващо атмосферата от космическите и слънчевите лъчения. Дебелината на кората на
            Марс е около 50 km, а на места достига до 125 km. За сравнение дебелината на кората
            на Земята е 40 km.
        </p>
    </div>
    <div>
        <h2 class="btn">Топография</h2>
        <p class="tx-center"> Топографията на северното и южното полукълбо на Марс се различава значително.
            В северното полукълбо преобладават равнини, оформени под въздействието на потоци от лава,
            а в южното – високи плата, покрити с астероидни кратери. Гледани от Земята, северните равнини
            на планетата са покрити с марсиански прах и изглеждат бледи. За разлика от тях червените планини
            и плата на юг са наситени с железен оксид, придаващ характерния им цвят.
        </p>
    </div>
    <div>
        <h2 class="btn">Спътници</h2>
        <p class="tx-center"> Марс има два естествени спътника Фобос и Деймос, чиято орбита е много
            близко до планетата, затова се смята, че са прихванати астероиди.И двата спътника
            се въртят синхронно с планетата вследствие на нейните приливни сили. Тъй като Фобос
            извършва едно пълно завъртане около Марс по-бързо от собственото въртене на планетата
            (намира се на под-стационарна орбита), приливните сили на Марс водят до бавно намаляване
            на орбиталния радиус на спътника. След около 50 милиона години Фобос ще премине границата
            на Рош и ще бъде разрушен от гравитацията на Марс.Деймос от друга страна се намира на
            над-стационарна орбита и под въздействието на приливните сили на планетата бавно се отдалечава.
        </p>
    </div>
    <div>
        <h2 class="btn">Изследване</h2>
        <p class="tx-center">Марс е изследван от автоматични апарати, между които
            орбитални модули, спускателни модули и марсоходи, изпратени от космическите
            програми на СССР, САЩ, Европа и Япония с цел изучаване повърхността, климата
            и географията на планетата. Приблизително 2/3 от всички мисии обаче завършват
            с повреда преди да приключат (а някои дори преди да започнат) планираните
            задачи. За някои от мисиите са известни точните технически проблеми, довели
            до неизправностите, но за останалата част те остават загадка. В
            научно-техническите среди шеговито се говори за Бермудски триъгълник,
            намиращ се между орбитите на Земята и Марс.
        </p>
    </div>
</div>
</body>
</html>