<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Луна</title>
</head>
<body>
<div th:include="fragments/fragments.html::#menu"></div>
<h1 class="center">Луна</h1>
<div>
    <p class="tx-center">
        Луната е единственият естествен спътник на Земята и петият по размери в Слънчевата система.
        Българските названия месец и месечина, произлизащи от старобългарското Мѣсѧць, днес се
        използват единствено поетично. Нейният символ е полумесец (☾). Средното разстояние между
        Луната и Земята е 384 403 km. Лунният диаметър е 3476 километра. Първият космически апарат,
        кацнал на Луната, е съветският Луна 2 (1959 г.), а първите фотографии на невидимата от Земята
        страна са направени от Луна 3 през същата година. Първият космически апарат, осъществил успешно
        меко кацане на лунната повърхност, е Луна 9, а първият, който успешно влиза в орбита около спътника,
        е Луна 10. През 1969 г., Нийл Армстронг и Едуин Олдрин стават първите хора, стъпили на Луната.
        След края на програма Аполо човешкото изследване на спътника е прекратено, въпреки че след това
        няколко спускаеми и орбитални апарати са пратени до Луната с изследователска цел. Въпреки всичко
        няколко страни са заявили, че имат планове за изпращане на хора до Луната към 2020 г.
    </p>
    <figure>
        <img src="../../images/moon.jpg" th:src="@{/images/moon.jpg}" alt="moon" class="image">
        <figcaption class="center">Луна</figcaption>
    </figure>
    <div>
        <h2 class="btn">Произход</h2>
        <p class="tx-center">Няколко хипотези са предложени за това как се е формирал естественият спътник на Земята.
            Смята се, че това е станало преди около 4,527 ± 0,010 млрд години, около 30 до 50 млн години след
            формирането
            на Слънчевата система.Наклонът на лунната орбита към еклиптиката почти изключва възможността Луната да се е
            формирала заедно със Земята или да е била привлечена в земна орбита по-късно. Една хипотеза за произхода на
            Луната е, че тя се е откъснала от земната кора поради центробежните сили, породени от въртенето на Земята
            (то би трябвало да е много по-бързо спрямо общоприетите съвременни схващания), оставяйки океански басейн
            на повърхността на нашата планета като белег.
        </p>
    </div>
    <div>
        <h2 class="btn">Състав</h2>
        <p class="tx-center">Преди повече от 4,5 милиарда години повърхността на Луната е била покрита с океан от
            разтопена магма.
            Учените са на мнение, че комбинацията от калий, редкоземни елементи и фосфор е свидетелство за този разтопен
            океан.
            Тези елементи са се запазили на повърхността на разтопения океан, защото не са намерили място в кристалната
            структура
            на заобикалящите ги елементи и съединения. По концентрацията на калия, редкоземните елементи и фосфора може
            да се
            съди за вулканичната активност, както и за честотата на сблъсъци с комети и астероиди.
        </p>
    </div>
    <div>
        <h2 class="btn">Повърхност</h2>
        <p class="tx-center"> Луната е покрита с десетки хиляди кратери с диаметър, по-голям от 1 километър. Повечето са
            на
            стотици милиони години и са отлично запазени поради липсата на атмосфера или геологична активност на лунната
            повърхност.
            Най-големият кратер на Луната, който също е и най-голям в Слънчевата система, образува басейна Южен
            полюс-Ейткън.
            Този кратер е на обратната страна на Луната, близо до Южния полюс. Диаметърът му е около 2240 km, а
            дълбочината – 13 km.
        </p>
    </div>
    <div>
        <h2 class="btn">Наличие на вода</h2>
        <p class="tx-center"> Луната, особено непосредствено след зараждането на Слънчевата система, е била бомбардирана
            от много
            комети и метеорити. Много от тези обекти са богати на вода. Слънчевата енергия разгражда водните молекули на
            атомен
            водород и кислород, които напускат Луната и отлитат в междупланетното пространство. Според една хипотеза
            обаче, известно
            количество вода се съдържа в лунната кора.
        </p>
    </div>
    <div>
        <h2 class="btn">Магнитно поле</h2>
        <p class="tx-center">Лунното магнитно поле е много слабо спрямо магнитното поле на Земята. Докато една част от
            лунния магнетизъм
            се обяснява с повърхностно намагнетизиране (като например участъка от лунната кора, наречен Rima Sirsalis),
            то сблъсъци
            с други тела като астероиди и комети е възможно също да са повлияли върху формирането му. Съществува
            хипотеза, че част от
            магнитното поле на Луната се формира от циркулацията на разтопено желязо, както е на Земята, но за да се
            докаже или отхвърли
            такова предположение са необходими допълнителни изследвания на лунното ядро.
        </p>
    </div>
    <div>
        <h2 class="btn">Атмосфера</h2>
        <p class="tx-center">Луната има незначителна атмосфера, съставена от газове като радон, които са продукт на
            радиоактивния разпад
            на елементи в лунната кора, както и частици от слънчевия вятър, задържани за кратко време от лунната
            гравитация.Атмосферата ѝ е
            толкова незначителна, че се равнява на тегло 104 kg.[8] При това малко тегло повърхностното налягане е 3 ×
            10 atm-15
        </p>
    </div>
    <div>
        <h2 class="btn">Затъмнения</h2>
        <p class="tx-center">Чисто съвпадение е, че лунният ъглов диаметър е практически равен на слънчевия (при
            наблюдения от земната
            повърхност). Този факт прави пълните слънчеви затъмнения възможни. При пълно слънчево затъмнение Луната
            изцяло скрива образа
            на Слънцето и прави слънчевата корона удобна за наблюдение дори с невъоръжено око.
        </p>
    </div>
    <div>
        <h2 class="btn">Наблюдение на Луната</h2>
        <p class="tx-center">Луната и Слънцето изглеждат по-големи, когато са близо до хоризонта. Това е чисто
            психологически ефект
            (вж. лунна илюзия). Ъгловият диаметър на Луната, гледан от Земята, е около 0,5°.Разнообразни светли и тъмни
            части от лунната
            повърхност създават форми, отъждествявани от различните земни култури с различни хора и животни. Лунните
            кратери и планински
            вериги са също характерни черти.
        </p>
    </div>
    <div>
        <h2 class="btn">Изследване на Луната</h2>
        <p class="tx-center">Японската сонда Кагуя открива отвор на повърхността на Луната, разположен недалеч от
            вулканичното плато
            Хълмове на Мариус. Предполага се, че той води в тунел под повърхността. Входът на тунела се намира в района
            на вулканично
            плато, получило името Хълмовете на Мариус. Диаметърът на отверстието е около 65 m, като според оценките на
            учените тунелът
            продължава поне на 80 m под лунната повърхност, а широчината му достига до 370 m. Астрономите винаги са
            предполагали,
            че Луната е набраздена от дълги, извиващи се под повърхността тунели, породени от отдавнашна вулканична
            активност и
            подобни на лавовите тръби на Земята. Те се формират когато горният слой от втечнения скален материал изстине
            по-бързо,
            а лавата във вътрешността се оттече, оставяйки след себе си скална кухина с различна дължина и форма. За
            съществуването на
            подобни тунели подсказваха извиващи се подобно на вени бразди на лунната повърхност, но японската сонда даде
            първото
            доказателство за кухина във вътрешността на подобна бразда. Теоретично подобни тунели могат да служат като
            убежище за
            бъдещите лунни заселници от Земята. „Покривът“ на тунела би ги защитил от слънчевата радиация, а във
            вътрешността за
            хората би било по-лесно да поддържат постоянна температура на средата.
        </p>
    </div>
</div>
</body>
</html>