<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Слънце</title>
</head>
<body>

<div th:include="fragments/fragments.html::#menu"></div>
<h1 class="center">Слънце</h1>
<div>
    <p class="tx-center">
        Слънцето е звездата в центъра на Слънчевата система. То представлява почти идеална сфера,
        съставена от гореща плазма и магнитни полета. Диаметърът му е около 1 392 000 km,
        близо 109 пъти по-голям от този на Земята, а масата му (1.9891 × 1030 kg, 332 946 пъти
        повече от земната) съставлява около 99,86% от общата маса на Слънчевата система.От
        химическа гледна точка около три четвърти от масата на Слънцето е образувана от водород,
        а остатъкът е предимно хелий, като 1,69% от масата (или 5628 пъти повече от масата на Земята)
        са други по-тежки елементи, като кислород, въглерод, неон, желязо и други.
    </p>
    <figure>
        <img src="../../public/images/sun.jpg"  th:src="@{/images/sun.jpg}" alt="sun" class="image">
        <figcaption class="center">Слънце</figcaption>
    </figure>
    <div>
        <h2 class="btn">Ядро</h2>
        <p class="tx-center">Смята се, че ядрото достига от неговия център до около 20 – 25% от слънчевия радиус.
            То има плътност, достигаща 150 g/cm3 (около 150 пъти повече от плътността на водата),
            и температура почти 15,7 милиона келвина. За сравнение, повърхностната температура на Слънцето
            е приблизително 5 800 K. Според последните анализи на данните от мисията СОХО, ядрото се върти
            с по-голяма скорост, отколкото междинната зона.[25] През по-голямата част от жизнения цикъл на
            Слънцето енергията се произвежда чрез ядрен синтез, преминаващ през поредица стъпки, известни
            като протон-протонен цикъл, при което водород се преобразува в хелий.
        </p>
    </div>
    <div>
        <h2 class="btn">Междинна зона</h2>
        <p class="tx-center">Междинната зона е вътрешен слой на Слънцето, който се намира между ядрото и конвективната
            зона. Там основно се пренася енергия от ядрото към по-външните слоеве, чрез дифузия. Енергията се придвижва
            през междинната зона под формата на фотони. Материята в този слой е толкова гъста, че фотоните се придвижват
            на много малко разстояние преди да бъдат абсорбирани или разпръснати от други частици. Поради тази причина
            на
            гама лъчите са нужни средно 171 000 години за да успеят да напуснат междинната зона на Слънцето. През този
            интервал температурата на плазмата спада от 15 милиона Келвина, близо до ядрото, до 1,5 милиона Келвина,
            в края на междинната зона.
        </p>
    </div>
    <div>
        <h2 class="btn">Конвективна зона</h2>
        <p class="tx-center">Конвективната зона е външният слой на Слънцето, от неговата повърхност, до около 200 000 км
            навътре към ядрото, което е около 70% от слънчевия радиус от центъра. Енергията в този слой се пренася
            предимно
            чрез конвекция. Температурата тук е по-ниска от колкото в междинната зона и в резултат на това преносът на
            топлина
            е по-бавен. Плътността на газовете обаче е достатъчно ниска за да се образуват конвективни течения, които
            успяват
            да пренесат топлината до фотосферата на Слънцето. След като материята стигне до фотосферата, тя се охлажда и
            плътността и се увеличава, при което тя отново спада до повърхността на междинната зона, където поема още
            топлина
            и така цикълът се повтаря.
        </p>
    </div>
    <div>
        <h2 class="btn">Фотосфера</h2>
        <p class="tx-center">Фотосферата е видимата повърхност на Слънцето. Над нея слънчевата светлина е свободна да се
            разпространява
            в пространството, а енергията изцяло напуска Слънцето чрез този слой. Фотосферата е десетки до стотици
            километри дебела
            и е малко по-непрозрачна от въздуха на Земята. Тъй като външната част на този слой е по-студена от
            вътрешната, изображенията
            на Слънцето изглеждат по-ярки в центъра, от колкото в краищата на слънчевия диск. По време на ранните
            изследвания на оптичния
            спектър на фотосферата се установило че там има елемент, който не е бил открит на Земята по това време. През
            1868 година
            Норман Локиер нарича този елемент хелий, на гръцкия бог на Слънцето – Хелиос. 25 години по-късно хелият бива
            изолиран и на Земята.
        </p>
    </div>
    <div>
        <h2 class="btn">Атмосфера</h2>
        <p class="tx-center">
            Частите на Слънцето над фотосферата се наричат общо слънчева атмосфера. Те могат да бъдат наблюдавани с
            телескопи и се разделят
            на 5 основни зони: температурния минимум, хромосферата, преходния слой, короната и хелиосферата.
            Хромосферата, преходният слой
            и короната са много по-горещи от повърхността на Слънцето.Най-студеният слой на Слънцето е температурният
            минимум, който е на
            около 500 км над фотосферата и е с температура от около 4100 Келвина. Тази част на Слънцето е достатъчно
            студена, за да могат
            да съществуват прости молекули като водороден окис и вода. Над температурния минимум се намира слой с
            дебелина от около 2000 км,
            наречен хромосфера, от гръцкия корен хромо, означаващ цвят, наречен така защото хромосферата изглежда като
            цветен блясък в началото
            и в края на пълните слънчеви затъмнения. Над нея се простира 200-километровия преходен слой, в който
            температурите много рязко
            се повишават. Този слой е трудно видим от повърхността на Земята. Короната е разширената външна част от
            атмосферата на Слънцето,
            която е много по-голяма по обем от колкото е самото Слънце. Короната непрекъснато се разширява в
            пространството и се превръща в
            слънчев вятър, който изпълва цялата Слънчева система. В най-горещите си части, короната е от 8 до 20 млн
            Келвина, като все още
            не е ясно от къде идва цялата тази топлина. Хелиосферата, която се счита за най-слабия външен слой на
            атмосферата, се простира
            чак до орбитата на Плутон.
        </p>
    </div>
    <div>
        <h2 class="btn">Магнитно поле</h2>
        <p class="tx-center">Слънцето е магнитно активна звезда. То поддържа силно магнитно поле, което се променя от
            година на година и
            обръща посоката си на всеки 11 години около слънчевия максимум. Магнитното поле на Слънцето води до много
            процеси, наречени
            общо слънчева активност, включваща слънчевите петна по повърхността на звездата, слънчевите изригвания,
            както и промените в
            слънчевия вятър, който пренася материя през Слънчевата система. Процесите, следствие от слънчевата активност
            на Земята, включват
            сиянията и нарушаването на радио-комуникацията и електрическата енергия. Слънчевата дейност променя
            структурата на външната
            атмосфера на Земята.
        </p>
    </div>
</div>
</body>
</html>