<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="../../public/css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}"/>-->
        <link rel="stylesheet" href="../../public/css/styles.css" th:href="@{/css/styles.css}"/>
        <!-- <link rel="icon" href="../../public/images/menu/blood-donation-favicon.ico"
               th:href="@{images/menu/blood-donation.ico}"/>-->
        <script src="../../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
        <script src="../../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="../../public/js/fragments.js" th:src="@{/js/fragments.js}"></script>
    </th:block>
</head>
<body>
<div id="menu">
    <div class="nav">
        <nav>
            <a class="active" href="index.html" th:href="@{/}">Начало</a>
            <a href="sun.html" th:href="@{sun}">Слънце</a>
            <a href="earth.html" th:href="@{earth}">Зeмя</a>
            <a href="moon.html" th:href="@{moon}">Луна</a>
            <a href="mars.html" th:href="@{mars}">Марс</a>
            <button>Вход</button>
        </nav>
    </div>
</div>
</body>
</html>
