<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<nav th:fragment="navbar" class="navbar navbar-expand-lg re-background">
    <a class="navbar-brand" th:href="@{/}" th:text="${navbarText}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <th:block sec:authorize="isAnonymous()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Galaxies
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/galaxies/show}">Show</a>
                        <a class="dropdown-item" th:href="@{/galaxies/add}" sec:authorize="hasRole('ROLE_MODERATOR')">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPlanets" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Planets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownPlanets">
                        <a class="dropdown-item" th:href="@{/planets/show}">Show</a>
                        <a class="dropdown-item" th:href="@{/planets/comparePlanets}">Compare planets</a>
                        <a class="dropdown-item" th:href="@{/planets/add}"
                           sec:authorize="hasRole('ROLE_MODERATOR')">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSatellites" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Satellites
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownSatellites">
                        <a class="dropdown-item" th:href="@{/satellites/show}">Show</a>
                        <a class="dropdown-item" th:href="@{/satellites/compareSatellites}">Compare satellites</a>
                        <a class="dropdown-item" th:href="@{/satellites/add}" sec:authorize="hasRole('ROLE_MODERATOR')">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStars" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stars
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownStars">
                        <a class="dropdown-item" th:href="@{/stars/show}">Show</a>
                        <a class="dropdown-item" th:href="@{/stars/compareStars}">Compare stars</a>
                        <a class="dropdown-item" th:href="@{/stars/add}"
                           sec:authorize="hasRole('ROLE_MODERATOR')">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStarSystems" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Star Systems
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownStarSystems">
                        <a class="dropdown-item" th:href="@{/starSystems/show}">Show</a>
                        <a class="dropdown-item" th:href="@{/starSystems/add}"
                           sec:authorize="hasRole('ROLE_MODERATOR')">Add</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                        <a class="dropdown-item" th:href="@{/users/profile}"
                           sec:authorize="isAuthenticated()">Profile</a>
                        <a class="dropdown-item" th:href="@{/users/all}" sec:authorize="hasRole('ROLE_ADMIN')">All
                            Users</a>
                    </div>
                </li>
            </th:block>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout?login" method="post" sec:authorize="isAuthenticated()">
            <button class="btn btn-custom">Logout</button>
        </form>
    </div>
</nav>
</html>