<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add star system</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>   <!--th:replace="fragments/head"-->
</head>
<body>
<div>
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    </header>
    <main class="mt-4 mb-4">
        <div class="container">
            <h1 class="text-center text-white">Add new Star system</h1>
            <form th:action="@{/starSystems/add}" method="post" th:object="${starSystemBindingModel}">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-danger'">
                    <label for="inputName" th:text="Name"></label>
                    <input type="text" th:name="name" class="form-control" id="inputName" th:field="*{name}"/>
                    <small th:id="nameHelp" th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('galaxy')}? 'has-danger'">
                    <label for="inputAffectedGalaxies" th:text="|Galaxy|"></label>
                    <select class="form-control" th:name="galaxies" id="inputAffectedGalaxies"
                            th:field="*{galaxy}">
                        <th:block th:each="galaxy : ${galaxiesModels}">
                            <option th:value="${galaxy.id}" th:text="${galaxy.name}"></option>
                        </th:block>
                    </select>
                    <small th:id="GalaxiesHelp" th:each="error : ${#fields.errors('galaxy')}"
                           th:text="${error}"></small>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-custom" th:text="|Add star system|"></button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </footer>
</div>
</body>
</html>