<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Star system</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body class="ss-bg">
<div class="ss-bg" id="nav">
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    </header>
    <footer>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </footer>
</div>
</body>
</html>


<!--
<!DOCTYPE html>
&lt;!&ndash;
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
&ndash;&gt;
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="javascript/fragments.js"></script>
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
-->
